@pageup:registry=https://pageuppeople.myget.org/F/cldr/npm/
//pageuppeople.myget.org/F/cldr/npm/:_password="UnhQRlc3azc="
//pageuppeople.myget.org/F/cldr/npm/:username=pageupbuild
//pageuppeople.myget.org/F/cldr/npm/:email=myget@pageuppeople.com
//pageuppeople.myget.org/F/cldr/npm/:always-auth=true
package-lock=false